<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Order</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="cookie">
    <form action="/" method="POST">
        <div class="card">
            <h1>Sugar Bird</h1>
            <h3>Custom Cookie Order Request</h3>
            <div>
                <p>Once I receive your request, I will send you a quote/confirmation via email or text within 24 hours.</p>
            </div>
            <br>
            <h2>Meet Allison Griffiths</h2>
            <p>I love making cookies! I do seasonal orders as well as custom requests. Please give me at least 2 weeks to complete your order. If I need clarification I will text/email you.</p>
            <br>
            <h2>Pickup date</h2>
            <div>
                <p>Please note that submitting this form doesn’t guarantee a date.</p>
            </div>
            <label for="pickup_date">Pickup Date</label><br>
            <input type="date" id="pickup_date" name="pickup_date">
            <br>
            <br>
            <h2>Contact info</h2>
            <legend>First name</legend>
            <input type="text" id="first_name" name="first_name">
            <br>
            <br> 
            <legend>Last name</legend>
            <input type="text" id="last_name" name="last_name">
            <br>
            <br> 
            <legend>Email</legend>
            <input type="text" id="email" name="email">
            <br>
            <br>
            <legend>Phone number</legend>
            <input type="number" id="phone_number" name="phone_number">
            <br>
            <br>
            <h2>Order details</h2>
            <legend>How many cookies </legend>
            <input type="number" id="num_cookies" name="num_cookies" min=12>
            <br>
            <br>
            <legend>Event </legend>
            <input type="text" id="event" name="event">
            <br>
            <br>
            <legend>Theme </legend>
            <input type="text" id="theme" name="theme">
            <br>
            <br>
            <legend>Color </legend>
            <input type="text" id="color" name="color">
            <br>
            <br>
            <label for="personalization">Wording or personalization</label><br>
            <input type="textarea" id="personalization" name="personalization">
            <br>
            <br>
            <legend>Questions/comments </legend>
            <input type="textarea" id="questions" name="questions">
            <br>
            <br>
            <input hidden type="textarea" id="notes" name="notes">
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>